@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-sm">
  <tr>
    <th>Picture</th>
    <th>Food Name</th>
    <th>Status</th>
    <th>Copacity</th>
    <th>Add To Card</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td><button type="button" class="btn btn-primary">Primary</button></td>
    <td>1</td>
    <td>Maria Anders</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td><button type="button" class="btn btn-danger">danger</button></td>
    <td>1</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td><button type="button" class="btn btn-danger">danger</button></td>
    <td>2</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Island Trading</td>
    <td><button type="button" class="btn btn-warning">warning</button></td>
    <td>3</td>
    <td>UK</td>
  </tr>

</table>


<button type="button" class="btn btn-primary">Primary</button>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>